.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main {
  height: 1000px;
    width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    margin: 300px;
}

.rectangle {
  height: 100px;
  width: 100px;
  line-height: 100px;
  background-color: aquamarine;
  cursor: pointer;
}

.circle {
  height: 100px;
  width: 100px;
  line-height: 100px;
  background-color: aquamarine;
  border-radius: 50%;
  cursor: pointer;
}

.react-connector-start {
  position: relative;
}

.react-connector-end {
  position: relative;
}

.arrow-left {
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right:10px solid blue;
  position: absolute;
  bottom: -10px;
  left: -10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
